body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #dec29b;
    color: #8b5a2b;
}

.navbar {
    background-color: #dec29b;
}

a h1 {
    margin: 0;
    font-size: 36px;
    color: #8b5a2b;
}

.nav-link {
    color: #8b5a2b;
}

.nav-link:hover {
    text-decoration: none;
}

table {
    background-color: white;
}

thead th {
    background-color: #f0e6d6;
    color: #8b5a2b;
    border: 1px solid #8b5a2b !important;

}

.table td {
    background-color: #fff;
    border: 1px solid #8b5a2b !important;
    color: #8b5a2b;
}


tfoot {
    background-color: #faf3e7;
    color: #8b5a2b;
}

button.btn-primary {
    background-color: #8b5a2b;
    border-color: #8b5a2b;
}

button.btn-primary:hover {
    background-color: #704214;
    border-color: #704214;
}

footer {
    background-color: #dec29b;
    color: #8b5a2b;
    padding: 10px 0;
    border-top: 1px solid #8b5a2b;
}
