body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #dec29b;
    color: #8b5a2b;
}

.navbar {
    background-color: #dec29b;
}

h1 {
    margin: 0;
    font-size: 36px;
    color: #8b5a2b;
}

.container h2, .container h3 {
    color: #8b5a2b;
}


.form-control{
    background-color: #fff5e1; /**/
    border: 1px solid #8b5a2b;
}

/* Estilos para la tabla */
.table {
    background-color: #fff5e1;
    border: 1px solid #8b5a2b !important;
    border-radius: 5px;
}

.table th {
    background-color: #f0e6d6;
    border: 1px solid #8b5a2b !important;
    color: #8b5a2b;
}

.table td {
    background-color: #fff;
    border: 1px solid #8b5a2b !important;
    color: #8b5a2b;
}


.table tbody tr td {
    vertical-align: middle;
}

.btn-primary {
    background-color: #8b5a2b;
    border-color: #8b5a2b;
}

.btn-primary:hover {
    background-color: #704214;
    border-color: #704214;
}

.btn-danger {
    background-color: #b22222;
    border-color: #b22222;
}

.btn-danger:hover {
    background-color: #8b0000;
}

.text-success {
    color: green;
}
.text-danger {
    color: red;
}
.eliminado {
    background-color: #f8d7da;
}

.modal-content{
    background-color: #dec29b;
    border-color: #704214;

}

.modal-header{
    border-color: #704214;
}

.modal-footer{
    border-color: #704214;
}

textarea.no-resize {
    resize: none;
}

footer {
    background-color: #dec29b;
    color: #8b5a2b;
    padding: 10px 0;
    border-top: 1px solid #8b5a2b;
}