/* Fuente general para toda la página */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f5deb3;
    color: #8b5a2b;
}

/* Navbar */
.navbar {
    background-color: #f5deb3;
}

a h1 {
    margin: 0;
    font-size: 36px;
    color: #8b5a2b;
}

.nav-link {
    color: #8b5a2b;
    text-decoration: none; /* Asegura que no haya subrayado inicialmente */

}

.nav-link:hover {
    text-decoration: none; /* Asegura que no haya subrayado inicialmente */
}

/* Contenedor de mensajes */
.message-container {
    max-height: 500px;
    overflow-y: auto;
    padding: 15px;
    border: 1px solid #8b5a2b;
    border-radius: 10px;
    background-color: #fff5e1;
    margin-bottom: 20px;
}

/* Estilo de los mensajes */
.message {
    display: flex;
    margin-bottom: 15px;
}

.message img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-content {
    background-color: #f0e6d6;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #8b5a2b;
    max-width: 75%;
}

.message-content p {
    margin: 0;
}

.message-content .timestamp {
    font-size: 12px;
    color: #704214;
    margin-top: 5px;
}

/* Mensajes del estudiante */
.message.alumno .message-content {
    background-color: #f0e6d6;
    margin-left: auto;
}

/* Mensajes del instructor */
.message.instructor .message-content {
    background-color: #fff5e1;
}

/* Enviar mensaje */
.send-message {
    display: flex;
    margin-top: 10px;
}

.send-message textarea {
    flex: 1;
    margin-right: 10px;
    border: 1px solid #8b5a2b;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    background-color: #f0e6d6; /* Mismo color que los mensajes del estudiante */
}

.btn-send {
    background-color: #AB7843;
    color: #f0e6d6;
    border: none;
}

.btn-send:hover {
    background-color: #704214;
}

/* Lista de instructores/cursos */
.list-group {
    background-color: #fff5e1;
    border: 1px solid #8b5a2b;
    border-radius: 5px;
    padding: 0;
}

.list-group-item {
    background-color: #fff5e1;
    border: none;
    padding: 15px;
    border-bottom: 1px solid #8b5a2b;
    font-size: 16px;
    color: #8b5a2b;
    transition: background-color 0.3s ease;
}

.list-group-item:last-child {
    border-bottom: none;
}

.list-group-item:hover {
    background-color: #f0e6d6;
}

.list-group-item a {
    text-decoration: none;
    color: #8b5a2b;
}

.list-group-item a:hover {
    text-decoration: none;
}

footer {
    background-color: #f5deb3;
    color: #8b5a2b;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #8b5a2b;
    width: 100%;
    margin-top: 20px;
}