body {
    background-color: #f5deb3;
    color: #6d4c41;
    font-family: 'Courier New', Courier, monospace;
}

/* Navbar */
.navbar {
    background-color: #f5deb3;
}

a h1 {
    margin: 0;
    font-size: 36px;
    color: #8b5a2b;
}

.nav-link {
    color: #8b5a2b;
    text-decoration: none; /* Asegura que no haya subrayado inicialmente */

}

.nav-link:hover {
    text-decoration: none; /* Asegura que no haya subrayado inicialmente */
}

h1, h2, h3, h4 {
    color: #8b5a2b;
}

.form-control {
    background-color: #fff5e1;
    border: 1px solid #8b5a2b;
    color: #8b5a2b;
    border-radius: 4px;
}

.course-card {
    border: 2px solid #8b5a2b;
    border-radius: 8px;
    background-color: #fff5e1;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.course-card h3 {
    font-size: 1.5rem;
}


/* Estilos para la tabla */
.table {
    background-color: #fff5e1;
    border: 1px solid #8b5a2b !important;
    border-radius: 5px;
}

.table th {
    background-color: #f0e6d6;
    border: 1px solid #8b5a2b !important;
    color: #8b5a2b;
}

.table td {
    background-color: #fff;
    border: 1px solid #8b5a2b !important;
    color: #8b5a2b;
}

.certificados-section {
    margin-top: 50px;
}

footer {
    background-color: #f5deb3;
    color: #8b5a2b;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #8b5a2b;
    width: 100%;
    margin-top: 20px;
}

